language: julia
julia:
  - 0.6
  - nightly
os:
  - linux
notifications:
  email: false
after_success:
  - julia -e 'cd(Pkg.dir("DataArrays")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  - julia -e 'cd(Pkg.dir("DataArrays")); Pkg.add("Documenter"); include(joinpath("docs", "make.jl"))'
